html,body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1797d8;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

textarea {
    resize: none;
}

#order_offer {
    margin-top: 20px;
}

#feedback_modal textarea {
    height: 200px;
}

a,
.blue {
    color: #1797d8 !important;
    font-size: 12px;
    font-weight: bold;
}

p a {
    text-decoration: underline;
}

.navbar-nav > li > a {
    font-size: 14px;
    color: #1797d8 !important;
    font-weight: 300;
    padding: 0 10px 3px 10px !important;
}

.navbar-nav > li.active > a {
    font-weight: bold !important;
    background-color: white !important;
}

a:hover {
    color: #7cc9f1 !important;
}

.navbar-nav > li > a:hover {
    color: #7cc9f1 !important;
    background-color: white !important;
}

.navbar-static-top {
    background: url("../images/nav_background.gif") repeat-x 0 45px #ffffff;
}

.navbar-static-top .container {
    padding-top: 20px;
}

.logo img {
    width: 100%;
}

.secondary-menu {
    width: 100%;
    height: 120px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding-top: 20px;
    vertical-align: middle;
    margin-bottom: 15px;
    background-color: #c1bcb9;
    text-transform: uppercase;
    color: white;
}

.secondary-menu img {
    height: 65px;
    margin-bottom: 5px;
}

.secondary-menu span {
    font-size: 10px;
}

.secondary-menu.active,
.secondary-menu:hover {
    background-color: #1797d8;
}

#slideshow p {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 395px;
    z-index: 999;
}

.license {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shadow-container {
    width: 100%;
    padding: 30px;
    display: table;
    background-color: white;
    box-shadow: 2px -3px 15px rgba(0,0,0,0.2);
}

.shadow-container .logo-container {
    width: 100%;
    height: 140px;
}

.shadow-container .logo-container img {
    margin-top: 30px;
}

.shadow-container .logo-container .new-label {
    width: 30px;
    height: 140px;
    text-align: center;
    background: url("../images/new_2018.png") no-repeat #189a00;
    background-position: 50% 50%;
    float: left;
    margin-right: 15px;
}

.shadow-container .device-description {
    font-size: 20px;
    color: grey;
}

.shadow-container .device-img img {
    width: 100%;
}

.made-in-italy {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}

.made-in-italy img {
    width: 67px;
    height: 28px;
    margin-right: 8px;
}

#slider-chapter {
    width: 100%;
}

#slider-chapter img {
    width: 100%;
}

.row {
    margin: 0 !important;
    padding-top: 25px;
    padding-bottom: 25px;
}

.row.black {
    background-color: #303030;
}

.row.black h1, .row.black h2, .row.black h3, .row.black h4, .row.black h5, .row.black h6 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
    color: white;
}

.row.black p {
    color: white;
}

.href-image {
    width: 32.9%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    margin-right: 4px;

}

.href-image:last-child {
    margin-right: 0;
}

.href-image a {
    font-size: 18px;
    color: #9e9b99 !important;
}

.href-image span {
    font-size: 14px;
}

.href-image .image-frame {
    max-height: 143px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.href-image .image-frame > img {
    width: 100%;
    position: relative;
}

.shade {
    background-color: #c1bcb9;
    position: absolute;
    z-index: 999;
}

.shade img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.subscribe {
    padding: 20px 38px;
}

.subscribe h1, .subscribe h2, .subscribe h3, .subscribe h4, .subscribe h5, .subscribe h6 {
    font-style: italic;
    font-weight: bold;
    text-align: left !important;
    margin-bottom: 20px !important;
}

.subscribe p {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
}

#footer {
    width: 100%;
    min-height: 610px;
    background-color: #e4f5ff;
}

#footer .title {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    background-color: #1697d8;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer textarea
{
    height: 148px;
}

#footer .col-md-12 {
    margin-top: 10px;
}

#all-truth-about {
    width: 100%;
    height: 170px;
    background-color: #eeeeee;
    font-size: 20px;
    letter-spacing: 0.02em;
    padding: 0 10px 10px 25px;
    position: fixed;
    bottom: 80px;
    z-index: 999;
}

#copyright-line {
    width: 100%;
    height: 80px;
    background-color: #747474;
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

#copyright-line .copyright {
    float: left;
    font-size: 18px;
    color: white;
    margin-left: 80px;
    letter-spacing: 0.02em;
}

#copyright-line .soc-icon {
    padding: 0;
    width: 30px;
    height: 29px;
    float: right;
    margin-left: 10px;
}

@media (min-width: 769px) {
    .logo {
        width: 220px;
        margin-left: 28px;
    }

    .navbar-nav {
        width: 100%;
        display: table;
        margin-top: 25px;
        margin-bottom: 8px;
        margin-left: 0 !important;
    }

    .navbar-nav > li {
        display: table-cell;
        float: none;
        text-align: center;
        border-right: 1px solid #1797d8;
    }

    .navbar-nav > li:last-child {
        border: 0;
    }
}

@media (max-width: 1024px) {
    .navbar-nav > li > a {
        font-size: 10px;
        padding: 0 2px 3px 2px !important;
    }

    .href-image a {
        font-size: 14px;
    }

    #all-truth-about {
        font-size: 18px;
    }

    #copyright-line .copyright {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .navbar-static-top .container {
        width: 100%;
        padding-top: 10px;
    }

    .logo {
        width: 150px;
        margin-left: 0;
        margin-bottom: 10px;
        float: left;
    }

    .href-image {
        width: 98% !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
    }

    .navbar-nav {
        padding: 20px;
    }

    .navbar-static-top {
        background-image: none;
    }

    .navbar-toggle {
        margin-top: 15px;
    }
}